<!doctype html>
<html lang="en" ng-app="soundCloud">
	<head>
		<meta charset="utf-8">
		<title>SoundCloud - Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description">
		<link rel="stylesheet" href="lib/stylesheets/bootstrap.css">
	  <script src="lib/scripts/angular.min.js"></script>
    <script src="lib/scripts/ui-bootstrap-tpls-0.10.0.min.js"></script>
	  <script src="lib/scripts/controllers.js"></script>
	</head>
	<body ng-controller="scController">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <a class="navbar-brand">SoundCloud Navigation</a>
    </nav>
		<section class="container col-md-8">
      <h2>Post and share your sounds with the world</h2>
      <div class="well upload-area text-center">
        <button class="btn btn-danger">Choose file to upload</button>
        <button class="btn btn-default">Start new recording</button>
        <div class="checkbox">
          <label>
            <input type="checkbox">
            <small>Make a playlist when multiple files are selected</small>
          </label>
        </div>
      </div>
      <div class="pro-ad">
        <p>
          You have 120 minutes left.
          <span class="text-muted">Pro accounts have more time and access to advanced features.</span>
          <span ng-controller="Modal1Ctrl" class="pull-right">
              <script type="text/ng-template" id="myModalContent.html">
                  <div class="modal-header text-center">
                    <button type="button" class="close" ng-click="cancel()">&times;</button>
                      <h3>Get more when you upgrade your account</h3>
                      <ul class="pro-benefits">
                        <li>
                          <h4>More uploads</h4>
                          <p>Upload 4 hours worth of tracks with a <strong>Pro</strong> plan or unlimited hours with a <strong>Master</strong> plan.</p>
                        </li>
                        <li>
                          <h4>More data</h4>
                          <p>Extensive stats help you learn about your audience and share your content in a smarter way.</p>
                        </li>
                        <li>
                          <h4>More control</h4>
                          <p>Increased privacy management and spotlights help you cultivate your audience on your terms.</p>
                        </li>
                      </ul>
                  </div>
                  <div class="modal-body">
                    <section class="pro-sell-column well">
                      <h2>Pro</h2>
                      <p class="price">
                        $6/month
                        <small>or $55/year</small>
                      </p>
                      <ul class="plan-benefits">
                        <li>
                          <i class="ss-icon ss-standard">music</i>
                          <strong>4 hours</strong> of upload time
                        </li>
                        <li>
                          <i class="ss-icon ss-standard">barchart</i>
                          <strong>More stats</strong> - get insights about your listeners and where your tracks get the most traffic.
                        </li>
                        <li>
                          <i class="ss-icon ss-standard">chat</i>
                          Manage the visibility of comments and stats on your tracks.
                        </li>
                        <li>
                          <i class="ss-icon ss-standard">pin</i>
                          Pin tracks and playlists to the top of your profile
                        </li>
                      </ul>
                      <button class="btn btn-warning btn-lg" ng-click="ok()">Upgrade to Pro</button>
                    </section>
                    <section class="pro-sell-column">
                      <h2>Master</h2>
                      <p class="price">
                        $15/month
                        <small>or $135/year</small>
                      </p>
                      <ul class="plan-benefits">
                        <li>
                          <i class="ss-icon ss-standard">music</i>
                          <strong tooltip="Single sound file sizes are limited to 2GB and total upload time per week is limited to 30 hours.">Unlimited<span class="text-muted">*</span></strong> upload time
                        </li>
                        <li>
                          <i class="ss-icon ss-standard">barchart</i>
                          <strong>Comprehensive stats</strong> - know from which sites and apps your tracks are being played.
                        </li>
                        <li>
                          <i class="ss-icon ss-standard">chat</i>
                          Manage the visibility of comments and stats on your tracks.
                        </li>
                        <li>
                          <i class="ss-icon ss-standard">pin</i>
                          Suggest tracks &amp; playlists in embedded players
                        </li>
                      </ul>
                      <button class="btn btn-danger btn-lg" ng-click="ok()">Upgrade to Master</button>
                    </section>
                  </div>
                  <div class="modal-footer">
                    <p class="text-muted text-center">Not quite sure about something? <a>See a list of frequently asked questions here.</a></p>
                  </div>
              </script>

              <button class="btn btn-warning" ng-click="open();">Go Pro</button>
          </span>
        </p>
      </div>
      <p><small>Important: By sharing, you confirm that your sounds comply with our Terms of Use and don't infringe anyone else's rights. If in doubt, check our Copyright Information pages and FAQs before uploading.</small></p>

      <p><small>Problems uploading? Please check our troubleshooting tips or use the Classic Uploader.</small></p>
    </section>
	</body>
</html>